@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .animate-marquee {
    animation: marquee 10s linear infinite;
  }
}


@layer utilities {
  .animate-blink {
    animation: blink 1s infinite alternate;
  }
}

@keyframes blink {
  0% { background-color: #ff0101; } /* rouge */
  100% { background-color: #000000; } /* noir */
}

@keyframes marquee {
  70% { transform: translateY(75%); }
  45% { transform: translateY(-100%); }
}




@layer utilities {
  .animate-blink {
    animation: blink 1s infinite alternate;
  }
}

@keyframes blink {
  0% { background-color: red; } /* rouge */
  100% { background-color: black; } /* bleu */
}


@layer utilities {
  .animate-marquee {
    animation: marquee 10s linear infinite;
  }
}

@keyframes marquee {
  0% { transform: translateY(100%); }
  100% { transform: translateY(-100%); }
}


@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
