

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.body {
  font-family: 'Roboto', sans-serif;
}

.link{
    position: relative;
    right: 12px;
}

.icon{
    display: flex;
}

.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
     background-color: black;
   font-size: 12px;
    line-height: 9px;
   height: 32px;
    margin: 23px;

}

  
  .dropdown {
    float: left;
    overflow: hidden;
    margin-top: 12px;
  }
  .dropdown .contain {
    font-size: 16px;
    border: 2px solid #000;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 10px 12px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .header a:hover, .dropdown:hover .contain {
    background-color: #d50909;
    color: #fff;
  }
  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    max-height: 300px;
    overflow-y: auto;
    
  }
  .dropdown_content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.3s;
  }
  .dropdown_content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown_content {
    display: block;
  }

  .paragraphe{
position: relative;
bottom: 24px;
left: 5px;

    
  }

  .paragraphe:hover{
    color: #ff0000;
  }
 

  .lien{
    margin-top: 35px;

  }

  .lien:hove{
     background-color: #ffffff;
     color: #000000;
  }


  .site{
    opacity: 0.3;
    width: 500px;
    height: 70vh;
  }

  .menu1{
    float: left;
    overflow: hidden;

  }

  .menu1 .menu{
    font-size: 16px;
    border: 2px solid #000000;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #000000;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s;

    
  }


  .sous_menu li:hover
{
    color: #ff0000b1;
}


  .sous_menu{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -1;
    max-height: 300px;
    overflow-y: auto;

  }

  .sous_menu li{
    float: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    display: block;
    text-align: left;
    transition: background-color 0.3s;
    
  }

  .sous_menu li:hover{
    background-color: #ffffff;
   
  }

  .menu1:hover .sous_menu{
    display: block;
   
  }
 
  .nom:hover{
    
    color: #e1111197;
  }

  .main{
    background-color: #000;
    height: 112px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: -webkit-sticky;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1)

  }